<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<nlog throwExceptions="true" internalLogLevel="Trace" internalLogToConsole="true">
		<extensions>
			<add assembly="NLog.AzureAppendBlob" />
		</extensions>
		<targets async="false">
			<target type="ColoredConsole" name="Console" layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=type,message}" />
			<target type="AzureAppendBlob" name="Azure" layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}" connectionString="UseDevelopmentStorage=true;" container="logtest" blobName="${date:universalTime=true:format=yyyy-MM-dd}/${date:universalTime=true:format=HH}:00.log" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="Console" />
			<logger name="*" minlevel="Trace" writeTo="Azure" />
		</rules>
	</nlog>
</configuration>